<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="utf-8" />
<meta name="robots" content="all" />
<meta name="author" content="Tencent-ISRD" />
<meta name="Copyright" content="Tencent" />
<link rel="stylesheet" type="text/css" href="css/css.css">
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
<title>首页</title>
</head>

<body style="background:#f3f4f4">
<!--头部开始-->
<div class="herder">
	<div class="width1200">
	<div class="logo">
		<a href="index.html" title="湖南景森知识产权有限公司"><h1 title="湖南景森知识产权有限公司"><img src="images/logo.jpg" alt="湖南景森知识产权有限公司"/></h1></a>
	</div>
	<div class="tel">
		<img src="images/tel.jpg" alt="这是首页的电话号码" title="15387598631" />
	</div>
    <div class="clear"></div>
	<div class="nav">
		<ul class="headerul">
			<li class="headerli"><a href="index.html" title="首页">首页</a></li>
			<li class="headerli bgchart">
					<a href="1.html" title="工商代办">工商代办</a>
					<span class="hot"></span>
					<div class="hover-menu">
                    	<p><a href="#" title="公司核名">公司核名</a></p>
                        <p><a href="#" title="注册公司">注册公司</a></p>
                        <p><a href="#" title="公司变更">公司变更</a></p>
                        <p><a href="#" title="公司注销">公司注销</a></p>
                    </div>
			</li>
			<li class="headerli bgchart">
					<a href="2.html" title="代理记账">代理记账</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="记账报税">记账报税</a></p>
                        <p><a href="#" title="财税代办">财税代办</a></p>
                        <p><a href="#" title="税务筹划">税务筹划</a></p>
                        <p><a href="#" title="财务审计">财务审计</a></p>
                    </div>
					
					
			</li>
			<li class="headerli bgchart">
					<a href="3.html" title="商标版权">商标版权</a>
					<span class="hot"></span>
                    <div class="hover-menu">
                    	<p><a href="#" title="商标注册">商标注册</a></p>
                        <p><a href="#" title="商标变更">商标变更</a></p>
                        <p><a href="#" title="商标续展">商标续展</a></p>
                        <p><a href="#" title="商标转让">商标转让</a></p>
                        <p><a href="#" title="商标变更">商标变更</a></p>
                        <p><a href="#" title="版权登记">版权登记</a></p>
                        <p><a href="#" title="版权变更">版权变更</a></p>
                    </div>
					
			</li>
			<li class="headerli bgchart">
					<a href="4.html" title="专利服务">专利服务</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="发明专利">发明专利</a></p>
                        <p><a href="#" title="实用专利">实用专利</a></p>
                        <p><a href="#" title="外观专利">外观专利</a></p>
               
                    </div>
					
					
			</li>
			<li class="headerli bgchart">
					<a href="#" title="交易市场">交易市场</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="转让商标">转让商标</a></p>
                        <p><a href="#" title="转让专利">转让专利</a></p>
                        <p><a href="#" title="转让公司">转让公司</a></p>
               
                    </div>
					
					
			</li>
			<li class="headerli bgchart">
					<a href="#" title="新闻中心">新闻中心</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="行业新闻">行业新闻</a></p>
                        <p><a href="#" title="公司新闻">公司新闻</a></p>
                    </div>
					
					
			</li>
			<li class="headerli bgchart">
					<a href="#" title="联系我们">联系我们</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="公司介绍">公司介绍</a></p>
                        <p><a href="#" title="联系方式">联系方式</a></p>
                  
                    </div>
					
					
			</li>
			
		</ul>
	</div>
    </div>
</div>
<!--头部结束-->
<!--详情BANNER-->
<div class="xq-banner">
	<img src="images/xq-banner.gif" >
</div>
<!--详情BANNER-->
<div class="main">
<!--左侧-->
	<div class="xq-left">
    	<div class="left-menu">
        	<div class="left-title">商标注册</div>
            <ul>
            	<li class="onm"><a href="#" title="有限责任公司注册"><i></i>有限责任公司注册</a></li>
                <li><a href="#" title="商标注册"><i></i>商标注册</a></li>
                <li><a href="#" title="个体户公司注册"><i></i>个体户公司注册</a></li>
                <li><a href="#" title="公司变更"><i></i>公司变更</a></li>
                <li><a href="#" title="社保代办"><i></i>社保代办</a></li>
                <li><a href="#" title="香港公司注册"><i></i>香港公司注册</a></li>
            </ul>
        </div>
        
        <div class="left-tjservice">
        	<ul>
            	<li class="s-01">
                	<a href="#" title=""><i></i>工商代办</a>
                </li>
                <li class="s-02">
                	<a href="#" title=""><i></i>商标服务</a>
                </li>
                <li class="s-03">
                	<a href="#" title=""><i></i>代理记账</a>
                </li>
                <li class="s-04">
                	<a href="#" title=""><i></i>专利申请</a>
                </li>
            </ul>
        </div>
        
        <!--联系我们-->
        <div class="left-contract">
        	<img src="images/left-tel.png">
        	<a href="http://wpa.qq.com/msgrd?v=3&uin=3027376820&site=qq&menu=yes" rel="nofollow"><img src="images/right_box_hz1.png"></a>
            <p>QQ：3027376820</p>
        </div>
    </div>
<!--左侧-->
<!--右侧-->
<div class="xq-right">
	<div class="right-title">
    	<span class="fl">商标注册</span><em class="fr">首页> 工商代办 > 注册公司 > 有限责任公司注册</em>
    </div>
    <div class="clear"></div>
    <div class="pro-content">
    	<div class="pro-title">
        	<em class="t-left"></em><span>商标注册必备资料</span><em class="t-right"></em>
        </div>
        <ul>
        	<li>
            	<span>服务内容</span>
                <div>1、核名；<br/>
                     2、根据工商局的要求提交材料；<br/>
                     3、办理营业执照，领取营业执照。</div>
            </li>
            <li>
            	<span>服务地区</span>
                <div>长沙市芙蓉区，天心区，岳麓区，开福区，雨花区，长沙县，望城县，宁乡县，浏阳市</div>
            </li>
            <li>
            	<span>你将得到什么</span>
                <div>1、合法的营业公司；<br/>
                     2、营业执照正副本各一；<br/>
                     3、公章、财务章、法人章各一。</div>
            </li>
            <li>
            	<span>后期还需要做什么</span>
                <div>公司注册成功后，后续还需要的工作有（以下都可以代办）：<br/>
1、办理银行开户<br/>
2、地税、国税报到;<br/>
3、记账报税；<br/></div>
            </li>
        </ul>
    </div>
    
    <div class="pro-pic">
    	<img src="images/xa-lc.gif">
        <img src="images/xq-ziliao.gif">
    </div>
    
    <div class="pro-youshi">
    	<img src="images/xq-youshi.jpg">
        <img src="images/xq-advance.jpg" style="margin-left:12px">
    </div>
    
</div>
<!--右侧-->
</div>
<div class="clear"></div>
<!--底部开始-->
<div class="footer">
	<div class="f-nav">
		<div class="main">
			<ul class="nav-ul">
				<li class="nav-li">
					<a href="#">工商代办</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">公司核名</a></li>
						<li class="nav-list"><a href="#">注册公司</a></li>
						<li class="nav-list"><a href="#">公司变更</a></li>
						<li class="nav-list"><a href="#">公司注销</a></li>
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">代理记账</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">记账报税</a></li>
						<li class="nav-list"><a href="#">财税代办</a></li>
						<li class="nav-list"><a href="#">税务筹划</a></li>
						<li class="nav-list"><a href="#">财务审计</a></li>
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">商标版权</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">商标注册</a></li>
						<li class="nav-list"><a href="#">商标变更</a></li>
						<li class="nav-list"><a href="#">商标续展</a></li>
						<li class="nav-list"><a href="#">商标转让</a></li>
                        <li class="nav-list"><a href="#">版权登记</a></li>
						<li class="nav-list"><a href="#">版权变更</a></li>
                        
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">专利申请</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">发明专利</a></li>
						<li class="nav-list"><a href="#">实用专利</a></li>
						<li class="nav-list"><a href="#">实用专利</a></li>
		
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">关于我们</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">公司介绍</a></li>
						<li class="nav-list"><a href="#">联系方式</a></li>
						<li class="nav-list"><a href="#">新闻中心</a></li>
						<li class="nav-list"><a href="#">常见问题</a></li>
					</ul>
				</li>
			</ul>
			<div class="addinfo">
				<h2>联系我们</h2>
				<p class="info-tel">0731-8878888</p>
				<p class="info-iphone">158-7493-7635</p>
				<p class="address">湖南省长沙市雨花区香樟路&nbsp; <span style="margin-left:36px;">瑞都华庭2栋2单元1105室</span></p>
				
			</div>
		</div>
	</div>
	<div class="compy">
		<div class="main">
		<ul>
			<li><a href="#">注册公司</a></li>
			<li><a href="#">注册公司</a></li>
			<li><a href="#">注册公司</a></li>
			<li><a href="#">注册公司</a></li>
			<li><a href="#">注册公司</a></li>
		</ul>
		<p>
			CopyRight@2001-2016   景森知识产权有限公司   湘ICP备15004606号-11 
		</p>
		</div>
	</div>
</div>

<!--底部开始-->
<div style="text-align: center; position: fixed; bottom: 0; width: 100%; line-height: 150%; background: #f5f5f5; border-top: 1px solid #ddd;"> <a style="color:blue" target="_blank" href="https://ibaotu.com/ui/">  </a>
	</div>
</body>
</html>
