<%include ./public/header.html%>
<!--详情BANNER-->
<div class="xq-banner">
	<img src="/public/default/images/xq-banner.gif" >
</div>
<!--详情BANNER-->
<div class="main">
<!--左侧-->
	<div class="xq-left">
    	<div class="left-menu">
        	<div class="left-title">商标注册</div>
            <ul>
            	<li class="onm"><a href="#" title="有限责任公司注册"><i></i>有限责任公司注册</a></li>
                <li><a href="#" title="商标注册"><i></i>商标注册</a></li>
                <li><a href="#" title="个体户公司注册"><i></i>个体户公司注册</a></li>
                <li><a href="#" title="公司变更"><i></i>公司变更</a></li>
                <li><a href="#" title="社保代办"><i></i>社保代办</a></li>
                <li><a href="#" title="香港公司注册"><i></i>香港公司注册</a></li>
            </ul>
        </div>
        
        <div class="left-tjservice">
        	<ul>
            	<li class="s-01">
                	<a href="#" title=""><i></i>工商代办</a>
                </li>
                <li class="s-02">
                	<a href="#" title=""><i></i>商标服务</a>
                </li>
                <li class="s-03">
                	<a href="#" title=""><i></i>代理记账</a>
                </li>
                <li class="s-04">
                	<a href="#" title=""><i></i>专利申请</a>
                </li>
            </ul>
        </div>
        
        <!--联系我们-->
        <div class="left-contract">
        	<img src="/public/default/images/left-tel.png">
        	<a href="http://wpa.qq.com/msgrd?v=3&uin=3027376820&site=qq&menu=yes" rel="nofollow"><img src="images/right_box_hz1.png"></a>
            <p>QQ：3027376820</p>
        </div>
    </div>
<!--左侧-->
<!--右侧-->
<div class="xq-right">
	<div class="right-title">
    	<span class="fl">商标注册</span><em class="fr">首页> 工商代办 > 注册公司 > 有限责任公司注册</em>
    </div>
    <div class="clear"></div>
    <div class="pro-content">
    	<div class="pro-title">
        	<em class="t-left"></em><span>商标注册必备资料</span><em class="t-right"></em>
        </div>
        <ul>
        	<li>
            	<span>服务内容</span>
                <div>1、核名；<br/>
                     2、根据工商局的要求提交材料；<br/>
                     3、办理营业执照，领取营业执照。</div>
            </li>
            <li>
            	<span>服务地区</span>
                <div>长沙市芙蓉区，天心区，岳麓区，开福区，雨花区，长沙县，望城县，宁乡县，浏阳市</div>
            </li>
            <li>
            	<span>你将得到什么</span>
                <div>1、合法的营业公司；<br/>
                     2、营业执照正副本各一；<br/>
                     3、公章、财务章、法人章各一。</div>
            </li>
            <li>
            	<span>后期还需要做什么</span>
                <div>公司注册成功后，后续还需要的工作有（以下都可以代办）：<br/>
1、办理银行开户<br/>
2、地税、国税报到;<br/>
3、记账报税；<br/></div>
            </li>
        </ul>
    </div>
    
    <div class="pro-pic">
    	<img src="/public/default/images/xa-lc.gif">
        <img src="/public/default/images/xq-ziliao.gif">
    </div>
    
    <div class="pro-youshi">
    	<img src="/public/default/images/xq-youshi.jpg">
        <img src="/public/default/images/xq-advance.jpg" style="margin-left:12px">
    </div>
    
</div>
<!--右侧-->
</div>
<div class="clear"></div>
<!--底部开始-->
<%include ./public/footer.html%>

</body>
<script type="text/javascript" src="/public/default/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/public/default/js/jquery.superslide.2.1.1.js"></script>
</html>
