<%include ./public/header.html%>
<!--详情BANNER-->
<div class="xq-banner">
	<img src="images/xq-banner.gif" >
</div>
<!--详情BANNER-->
<div class="main">
<!--左侧-->
	<div class="xq-left">
    	<div class="left-menu">
        	<div class="left-title">商标注册</div>
            <ul>
            	<li class="onm"><a href="#" title="有限责任公司注册"><i></i>有限责任公司注册</a></li>
                <li><a href="#" title="商标注册"><i></i>商标注册</a></li>
                <li><a href="#" title="个体户公司注册"><i></i>个体户公司注册</a></li>
                <li><a href="#" title="公司变更"><i></i>公司变更</a></li>
                <li><a href="#" title="社保代办"><i></i>社保代办</a></li>
                <li><a href="#" title="香港公司注册"><i></i>香港公司注册</a></li>
            </ul>
        </div>
        
        <div class="left-tjservice">
        	<ul>
            	<li class="s-01">
                	<a href="#" title=""><i></i>工商代办</a>
                </li>
                <li class="s-02">
                	<a href="#" title=""><i></i>商标服务</a>
                </li>
                <li class="s-03">
                	<a href="#" title=""><i></i>代理记账</a>
                </li>
                <li class="s-04">
                	<a href="#" title=""><i></i>专利申请</a>
                </li>
            </ul>
        </div>
        
        <!--联系我们-->
        <div class="left-contract">
        	<img src="images/left-tel.png">
        	<a href="http://wpa.qq.com/msgrd?v=3&uin=3027376820&site=qq&menu=yes" rel="nofollow"><img src="images/right_box_hz1.png"></a>
            <p>QQ：3027376820</p>
        </div>
    </div>
<!--左侧-->
<!--右侧-->
<div class="xq-right">
	<div class="right-title">
    	<span class="fl">商标注册</span><em class="fr">首页> 工商代办 > 注册公司 > 有限责任公司注册</em>
    </div>
    <div class="clear"></div>
    <div class="pro-content">
    	<div class="pro-title">
        	<em class="t-left"></em><span>商标注册必备资料</span><em class="t-right"></em>
        </div>
        <ul>
        	<li>
            	<span>服务内容</span>
                <div>1、核名；<br/>
                     2、根据工商局的要求提交材料；<br/>
                     3、办理营业执照，领取营业执照。</div>
            </li>
            <li>
            	<span>服务地区</span>
                <div>长沙市芙蓉区，天心区，岳麓区，开福区，雨花区，长沙县，望城县，宁乡县，浏阳市</div>
            </li>
            <li>
            	<span>你将得到什么</span>
                <div>1、合法的营业公司；<br/>
                     2、营业执照正副本各一；<br/>
                     3、公章、财务章、法人章各一。</div>
            </li>
            <li>
            	<span>后期还需要做什么</span>
                <div>公司注册成功后，后续还需要的工作有（以下都可以代办）：<br/>
1、办理银行开户<br/>
2、地税、国税报到;<br/>
3、记账报税；<br/></div>
            </li>
        </ul>
    </div>
    
    <div class="pro-pic">
    	<img src="images/xa-lc.gif">
        <img src="images/xq-ziliao.gif">
    </div>
    
    <div class="pro-youshi">
    	<img src="images/xq-youshi.jpg">
        <img src="images/xq-advance.jpg" style="margin-left:12px">
    </div>
    
</div>
<!--右侧-->
</div>
<div class="clear"></div>
<!--底部开始-->
<div class="footer">
	<div class="f-nav">
		<div class="main">
			<ul class="nav-ul">
				<li class="nav-li">
					<a href="#">工商代办</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">公司核名</a></li>
						<li class="nav-list"><a href="#">注册公司</a></li>
						<li class="nav-list"><a href="#">公司变更</a></li>
						<li class="nav-list"><a href="#">公司注销</a></li>
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">代理记账</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">记账报税</a></li>
						<li class="nav-list"><a href="#">财税代办</a></li>
						<li class="nav-list"><a href="#">税务筹划</a></li>
						<li class="nav-list"><a href="#">财务审计</a></li>
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">商标版权</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">商标注册</a></li>
						<li class="nav-list"><a href="#">商标变更</a></li>
						<li class="nav-list"><a href="#">商标续展</a></li>
						<li class="nav-list"><a href="#">商标转让</a></li>
                        <li class="nav-list"><a href="#">版权登记</a></li>
						<li class="nav-list"><a href="#">版权变更</a></li>
                        
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">专利申请</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">发明专利</a></li>
						<li class="nav-list"><a href="#">实用专利</a></li>
						<li class="nav-list"><a href="#">实用专利</a></li>
		
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">关于我们</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">公司介绍</a></li>
						<li class="nav-list"><a href="#">联系方式</a></li>
						<li class="nav-list"><a href="#">新闻中心</a></li>
						<li class="nav-list"><a href="#">常见问题</a></li>
					</ul>
				</li>
			</ul>
			<div class="addinfo">
				<h2>联系我们</h2>
				<p class="info-tel">0731-8878888</p>
				<p class="info-iphone">158-7493-7635</p>
				<p class="address">湖南省长沙市雨花区香樟路&nbsp; <span style="margin-left:36px;">瑞都华庭2栋2单元1105室</span></p>
				
			</div>
		</div>
	</div>
	<%include ./public/footer.html%>

</div>

</body>
<script type="text/javascript" src="/public/default/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/public/default/js/jquery.superslide.2.1.1.js"></script>
</html>
