<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">              
			    <div class="panel-heading">
                    <a class="btn btn-primary" href="/admin/detail/add?detail_id=<%=detail_id%>&type=<%=type%>">增加详情</a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <table class="table table-bordered">
                            <thead>                                   
                            <tr class="th">
                                <th>标题</th>
                                <th>商品轮播图</th>
                                <th>价格</th>  
                                <th>运费</th>
                                <th>销量</th>
                                <th>库存</th>
                                <th>优惠金额</th>
                                <th>详情图列表</th>
                                <th>排序</th>
                                <th>增加时间</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <%for(let i=0;i<list.length;i++){%>
                                    <tr>
                                        <td><%=list[i].title%></td>
                                        <td>
                                            <%for(let j=0;j<list[i].focus_img.length;j++){%>
                                                <span><img style="width: 60px; height: 30px;" src="<%=list[i].focus_img[j]%>"/></span>
                                            <%}%>
                                        </td>
                                        <td><%=list[i].price%></td>
                                        <td><%=list[i].freight%></td>
                                        <td><%=list[i].sales%></td>
                                        <td><%=list[i].inventory%></td>
                                        <td><%=list[i].discount%></td>
                                        <td>
                                            <%for(let j=0;j<list[i].detail_img.length;j++){%>
                                                <span><img style="width: 60px; height: 30px;" src="<%=list[i].detail_img[j]%>"/></span>
                                            <%}%>
                                        </td>
                                        <td><%=list[i].sort%></td>
                                        <td><%=helper.formatTime(list[i].add_time)%></td>
                                        <td>
                                            <a href="/admin/detail/edit?id=<%=list[i]._id%>&type=<%=list[i].type%>&detail_id=<%=list[i].detail_id%>">修改</a>
                                            <a class="delete" href="/admin/detail/delete?id=<%=list[i]._id%>&model=Detail">删除</a>
                                        </td>
                                    </tr>
                                <%}%>
                            </tbody>
                          
                        </table>
                        <div id="page" class="pagination" style="float: right;"></div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

</body>
</html>
