<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">              
			    <div class="panel-heading">
                    <a class="btn btn-primary" href="/admin/classifyDetail/add?classify_id=<%=classify_id%>">增加详情</a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <table class="table table-bordered">
                            <thead>                                   
                            <tr class="th">
                                <th>标题</th>
                                <th>分类图片</th>
                                <th>价格</th>  
                                <th>排序</th>
                                <th>增加时间</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                               <%for(let i=0;i<list.length;i++){%>
                                    <tr>
                                        <td><%=list[i].title%></td>
                                        <td><span><img style="width: 120px; height: 40px;" src="<%=list[i].classify_img%>"/></span></td>
                                        <td><%=list[i].price%></td>
                                        <td><%=list[i].sort%></td>
                                        <td><%=list[i].add_time%></td>
                                        <td class="text-center">
                                            <a href="/admin/classifyDetail/edit?id=<%=list[i]._id%>">修改</a>|
                                            <a href="/admin/detail?detail_id=<%=list[i]._id%>&type=3">添加分类详情</a>
                                            <a class="delete" href="/admin/classifyDetail/delete?id=<%=list[i]._id%>&model=ClassifyDetail">删除</a>
                                        </td>
                                    </tr>
                               <%}%>
                            </tbody>
                          
                        </table>
                        <div id="page" class="pagination" style="float: right;"></div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

</body>
</html>
