<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <table class="table table-bordered">
                            <thead>                                   
                            <tr class="th">
                                <th>邮箱</th>
                                <th>内容</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                              <%for(let i=0;i < list.length;i++) {%>
                                <tr>
                                    <td><%=list[i].email%></td>
                                    <td style="width: 400px;"><%=list[i].description%></td>
                                    <td class="text-center">
                                        <a href="/admin/back/edit?id=<%=list[i]._id%>">修改</a> | 
                                        <a class="delete" href="/admin/back/delete?model=Back&id=<%=list[i]._id%>">删除</a>
                                    </td>
                                </tr>
                              <%}%>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
