<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>荣屿财税管理后台</title>
</head>
<body>
<link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/public/admin/css/basic.css">
<link rel="stylesheet" href="/public/admin/edit/css/froala_editor.pkgd.min.css">
<link rel="stylesheet" href="/public/admin/edit/css/froala_style.min.css">
<link ref="stylesheet" href="/public/admin/webloader/css/diyUpload.css">
<link ref="stylesheet" href="/public/admin/webloader/css/webuploader.css">


<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/public/admin/images/logo.png" height="50px;" />
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">           
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎您:<%=userInfo.username%></a>
                </li>
                <li><a href="/admin/loginOut">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript" src="/public/admin/bootstrap/js/jquery-1.10.1.js"></script>
<script type="text/javascript" src="/public/admin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/admin/bootstrap/js/jq-paginator.min.js"></script>
<script type="text/javascript" src="/public/admin/edit/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/public/admin/edit/js/languages/zh_cn.js"></script>
<script type="text/javascript" src="/public/admin/webloader/js/diyUpload.js"></script>
<script type="text/javascript" src="/public/admin/webloader/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/public/admin/js/base.js"></script>