<%- include ../public/header.html %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
			<%- include ../public/aside.html %>
        </div>
        <div class="col-sm-10">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="th">
                        <th>管理员名称</th>
                        <th>管理员电话</th>
                        <th>管理员邮箱</th>
                        <th>管理员角色</th>
                        <th class="text-center">状态</th>             
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0;i<list.length;i++){%>
                            <tr>
                                <td><%=list[i].username%></td>
                                <td><%=list[i].mobile%></td>
                                <td><%=list[i].email%></td>
                                <td><%=list[i].item[0].title%></td>
                                <td class="text-center">
                                    <%if(list[i].status == 1){%>
                                        <img src="/public/admin/images/yes.gif" onclick="app.changeStatus(this,'Admin','status','<%=list[i]._id%>')"/>
                                    <%} else{%>
                                        <img src="/public/admin/images/no.gif" onclick="app.changeStatus(this,'Admin','status','<%=list[i]._id%>')"/>
                                    <%}%>
                                </td>
                                <td class="text-center">
                                    <a href="/admin/manager/edit?id=<%=list[i]._id%>">修改</a> 
                                    <a class="delete" href="/admin/manager/delete?id=<%=list[i]._id%>&model=Admin">删除</a>
                                </td>
                                
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>