<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">              
			    <div class="panel-heading">
                    产品列表
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <table class="table table-bordered">
                            <thead>                                   
                            <tr class="th">
                                <th>微信</th>
                                <th>QQ</th>
                                <th>邮箱</th>
                                <th>电话</th>
                                <th>排序</th>
                                <td>增加时间</td>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <%for(let i=0;i<list.length;i++){%>
                                    <tr>
                                      
                                        <td><%=list[i].mobile%></td>
                                        <td><%=list[i].qq%></td>
                                        <td><%=list[i].email%></td>
                                        <td><%=list[i].mobile%></td>
                                        <td><%=list[i].sort%></td>
                                        <th><%=list[i].add_time%></th>
                                                    
                                        <td class="text-center">
                                            <a href="/admin/contact/edit?id=<%=list[i]._id%>">修改</a> 　
                                            <a class="delete" href="/admin/role/delete?model=Role&id=<%=list[i]._id%>">删除</a>
                                        </td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
