<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <table class="table table-bordered">
                            <thead>                                   
                            <tr class="th">
                                <th>呢称</th>
                                <th>企业名称</th>  
                                <th>社会信用代码</th>
                                <th>注册地址</th>
                                <th>联系人</th>
                                <th>手机号</th>
                                <th>提交时间</th>
                                <th>报税时间</th>
                                <th>状态</th>
                                <th>描述</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                        <div id="page" class="pagination" style="float: right;"></div>
                        <script type="text/javascript">
                           
                            $('#page').jqPaginator({
                             
                                totalPages: 100,
                                visiblePages: 8,
                                currentPage:  1,
                                onPageChange: function (num, type) {
                                    console.log('当前第' + num + '页',type);
                                    if(type=='change'){
                                        location.href="/admin/product?page="+num;
                                    }
                                }
                            });     
                        </script>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

</body>
</html>
