<%- include ../public/header.html %>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>
        </div>
        <div class="col-sm-10">
            <div>              
                <div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="th">
                                <th>名称</th>
                
                                <th>图片</th>
                                <th>跳转地址</th>                                             
                                <th class="text-center">状态</th>                                             
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <%for(let i=0;i<list.length;i++){%>
                                   <tr>
                                       <td><%=list[i].name%></td>
                                       <td><img class="image" style="width: 120px;height:60px" src="<%=list[i].advert_img%>"></td>
                                       <td><%=list[i].link%></td>
                                       <td class="text-center">
                                            <%if(list[i].status == 1){%>
                                                <img src="/public/admin/images/yes.gif" onclick="app.changeStatus(this,'Advert','status','<%=list[i]._id%>')"/>
                                            <%} else{%>
                                                <img src="/public/admin/images/no.gif" onclick="app.changeStatus(this,'Advert','status','<%=list[i]._id%>')"/>
                                            <%}%>
                                        </td>            
                                       <td class="text-center">
                                           <a href="/admin/advert/edit?id=<%=list[i]._id%>">修改</a>
                                           <a class="delete" href="/admin/advert/delete?model=Advert&id=<%=list[i]._id%>">删除</a>
                                       </td>
                                   </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>