<div class="footer">
	<div class="f-nav">
		<div class="main">
			<ul class="nav-ul">
				<li class="nav-li">
					<a href="#">工商代办</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">公司核名</a></li>
						<li class="nav-list"><a href="#">注册公司</a></li>
						<li class="nav-list"><a href="#">公司变更</a></li>
						<li class="nav-list"><a href="#">公司注销</a></li>
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">代理记账</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">记账报税</a></li>
						<li class="nav-list"><a href="#">财税代办</a></li>
						<li class="nav-list"><a href="#">税务筹划</a></li>
						<li class="nav-list"><a href="#">财务审计</a></li>
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">商标版权</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">商标注册</a></li>
						<li class="nav-list"><a href="#">商标变更</a></li>
						<li class="nav-list"><a href="#">商标续展</a></li>
						<li class="nav-list"><a href="#">商标转让</a></li>
                        <li class="nav-list"><a href="#">版权登记</a></li>
						<li class="nav-list"><a href="#">版权变更</a></li>
                        
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">专利申请</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">发明专利</a></li>
						<li class="nav-list"><a href="#">实用专利</a></li>
						<li class="nav-list"><a href="#">实用专利</a></li>
		
					</ul>
				</li>
				<li class="nav-li">
					<a href="#">关于我们</a>
					<ul class="ul-list">
						<li class="nav-list"><a href="#">公司介绍</a></li>
						<li class="nav-list"><a href="#">联系方式</a></li>
						<li class="nav-list"><a href="#">新闻中心</a></li>
						<li class="nav-list"><a href="#">常见问题</a></li>
					</ul>
				</li>
			</ul>
			<div class="addinfo">
				<h2>联系我们</h2>
				<p class="info-tel">0731-8878888</p>
				<p class="info-iphone">15083356190</p>
				<p class="address">贵州省</p>
				
			</div>
		</div>
	</div>
	<div class="compy">
        <div class="main">
        <p>
            CopyRight@2019-2020  荣屿财税有限公司   黔ICP备15004606号-11 
        </p>
        </div>
    </div>
</div>
