<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="utf-8" />
<meta name="robots" content="all" />
<meta name="author" content="Tencent-ISRD" />
<meta name="Copyright" content="Tencent" />
<link rel="stylesheet" type="text/css" href="/public/default/css/css.css">
<title>荣屿财税</title> 
	<style type="text/css" media="screen">  
        .evt_nav_right{position:fixed;top:100px;left:0px;width:40px;  z-index:9999; background:#515151; display:none}  
        .evt_nav_right a.active{ background:#3886fa; color:#fff;}
		.evt_nav_right a{display:inline-block;width:40px; font-size:15px; text-align:center; color:#b1b0b0; padding:10px 0px; line-height:25px}
		.evt_nav_right a:before{content: "";
		display: block;
		margin-top: -10px;margin-bottom:8px;
		margin-left: 6px;
		width: 28px;
		height: 1px;
		background: #868686;
		}
	.evt_nav_right a.db{ background:#cccccc; color:#fff;}
    </style>   
</head>
<body>
<!--头部开始-->
<div class="herder">
	<div>
	<div class="logo">
		<a href="/index" title="荣屿财税"><h1 title="荣屿财税"><img src="/public/default/images/logo.png" alt="荣屿财税"/></h1></a>
	</div>
    <div class="clear"></div>
	<div class="nav">
		<ul class="headerul">
			<li class="headerli"><a href="/index" title="首页">首页</a></li>
			<li class="headerli bgchart">
				<a href="/work" title="工商代办">工商代办</a>
				<span class="hot"></span>
				<div class="hover-menu">
                    <p><a href="#" title="公司核名">公司核名</a></p>
                    <p><a href="#" title="注册公司">注册公司</a></p>
                    <p><a href="#" title="公司变更">公司变更</a></p>
                    <p><a href="#" title="公司注销">公司注销</a></p>
                </div>
			</li>
			<li class="headerli bgchart">
				<a href="/account" title="代理记账">代理记账</a>
                <div class="hover-menu">
                    <p><a href="#" title="记账报税">记账报税</a></p>
                    <p><a href="#" title="财税代办">财税代办</a></p>
                    <p><a href="#" title="税务筹划">税务筹划</a></p>
                    <p><a href="#" title="财务审计">财务审计</a></p>
                </div>	
			</li>
			<li class="headerli bgchart">
					<a href="/mark" title="商标版权">商标版权</a>
					<span class="hot"></span>
                    <div class="hover-menu">
                    	<p><a href="#" title="商标注册">商标注册</a></p>
                        <p><a href="#" title="商标变更">商标变更</a></p>
                        <p><a href="#" title="商标续展">商标续展</a></p>
                        <p><a href="#" title="商标转让">商标转让</a></p>
                        <p><a href="#" title="商标变更">商标变更</a></p>
                        <p><a href="#" title="版权登记">版权登记</a></p>
                        <p><a href="#" title="版权变更">版权变更</a></p>
                    </div>
					
			</li>
			<li class="headerli bgchart">
					<a href="/patent" title="专利服务">专利服务</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="发明专利">发明专利</a></p>
                        <p><a href="#" title="实用专利">实用专利</a></p>
                        <p><a href="#" title="外观专利">外观专利</a></p>
               
                    </div>
					
					
			</li>
			<li class="headerli bgchart">
					<a href="/trading" title="交易市场">交易市场</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="转让商标">转让商标</a></p>
                        <p><a href="#" title="转让专利">转让专利</a></p>
                        <p><a href="#" title="转让公司">转让公司</a></p>
               
                    </div>
					
					
			</li>
			<li class="headerli bgchart">
					<a href="/news" title="新闻中心">新闻中心</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="行业新闻">行业新闻</a></p>
                        <p><a href="#" title="公司新闻">公司新闻</a></p>
                    </div>
					
					
			</li>
			<li class="headerli bgchart">
					<a href="/contact" title="联系我们">联系我们</a>
                    <div class="hover-menu">
                    	<p><a href="#" title="公司介绍">公司介绍</a></p>
                        <p><a href="#" title="联系方式">联系方式</a></p>
                  
                    </div>
					
			</li>
			
		</ul>
	</div>
    </div>
</div>